section {min-height: 100vh;}

#img-header{
    width: 10vw;

}

#nome {
    color: #014076;
    font-size: 5vw;
}

#frase {
    font-size: 3vw;
}

header {
    background-color:#fef7e5;
    display: flex;
    height: 15vw;
    gap: 1vw;
    align-items: center;
}

.item {
    margin-right: 2vw;
    margin-left: 2vw;
    padding: 1vw;
}


nav {
    position: sticky;
    top: 0;
    background-color: #f0e6ca;
    text-align: center;
    height: 10vw;
    margin: 0px;
    display: flex;
    color: white;
}


    nav a {
        margin: 1vw;
        height: 3vw;
        color: white;
        text-decoration: none;
        font-size: 2vw;
        display: inline-block;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }

    nav a:hover {
    color: #014076;
    }

.adapta_menu {
    background-color: rgb(168, 138, 53);
    min-height: 60px;
    position: sticky;
    z-index: 10;
    color: white;
}

#collapsibleNavbar{
    background-color: rgb(168, 138, 53);
    height: 180px;
    color: #014076;
    border-radius: 10px;
    z-index: 10;
}  

@media (width > 577px)
{
    #collapsibleNavbar{
        height: 60px;
    }    
}

.nav-link{
    color: white;
}



section {
    scroll-margin-top: 60px;
    margin: 1vw;
    border-radius: 5px;
}

#titulo1{
    text-align: center;
    margin: 1vw;
    color: #014076;
}


.form {
    text-decoration: none;
    color: #014076;
    font-size: 20px;
}

.oqe{
    display: flex;
    gap: 1vw;
    flex-direction: column;
}


.c1{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    justify-content: space-between;
    align-items: center;
}

.oqe p {
    width: 65vw;
    height: auto;
}

.img-oli{
    border-radius: 10px;
    width: 30vw;
}

#titulo2{
    text-align: center;
    margin: 1vw;
    color: #014076;
}

#mat{
    display: flex;
    flex-direction: column;
}


footer {
    background-color:#fef7e5;
    height: 7vw;
    align-items: center;
    justify-content: center;
}

#insta{
    display: flex;
    align-items: center;
}

#insta h1{
    font-size: 2vw;
    text-decoration: none;
    height: auto;
}


.img-footer {
    width: 5vw;
}

.img-loc{
    width: 5vw;
}

#ic{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 1vw;

}

#endereco{
    display: flex;
    align-items: center;
    text-align: center;
}

#endereco h1{
    font-size: 2vw;
}





#titulo3{
    text-align: center;
    margin: 1vw;
    color: #014076;
}

.e1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
    align-items: center;
}

#img-edf{
    border-radius: 20px;
    width: 40vw;
    justify-items: center;
}

#form {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;

    gap: 5px;
    padding: 5px;

    display: grid;
    grid-template-columns: 1fr 1fr;

}

.dado{
    width: 30vw;
}


@media (width < 600px) {
    .e1{
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .dado{
        width: 60vw;
    }
}

.painel{
    display: flexbox;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.fotos{
  display: grid;
  grid-template-columns: 30vw 30vw 30vw;
  grid-template-rows: 30vw 30vw;
  grid-template-areas: 
  'foto1 foto2 foto3'
  'foto4 foto4 foto5';
  /* width: 100%;
  height: auto; */
  gap: 1vw;
  justify-items: center;
  /* justify-content: center; */
  /* align-content: center; */
}


.foto1{
  grid-area: foto1;
  background-image: url("../img/aula1.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 30vw;
  height: auto;
}

.foto2{
  grid-area: foto2;
  background-image: url("../img/aula2.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 30vw;
  height: auto;
}

.foto3{
  grid-area: foto3;
  background-image: url("../img/medalha.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 30vw;
  height: auto;
}

.foto4{
  grid-area: foto4;
  background-image: url("../img/inscrevase.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 30vw;
  height: auto;
}

.foto5{
  grid-area: foto5;
  background-image: url("../img/chat.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 30vw;
  height: auto;
}
@media (width<550px){
  .fotos{
    grid-template-columns: 90vw;
  grid-template-rows: repeat(5, 90vw);
  grid-template-areas: 
  'foto1' 
  'foto2'
  'foto3' 
  'foto5'
  'foto4'
  'foto4'
  ;
  }
  
}

#titulopainel{
    text-align: center;
    margin: 1vw;
    color: #014076;
}

@keyframes aparece {
    0% { opacity:0 }
    100% { opacity:1 }
}

.titulo_aparece {
    animation: linear aparece both;
    animation-timeline: view();
    animation-range: cover 20% cover 70%;
    z-index: 3;
}

#titulocrono{
    text-align: center;
    margin: 1vw;
    color: #014076;
}

#ult_titulo {
    text-align: center;
    margin: 1vw;
    color: #014076;
}

.grad {  
    width: 15vw;
    height: 15vw;
    position: relative;
    left: 0px;
    top: 0px;
    color: #014076;
  
   animation-name: exemplo;  
   animation-duration: 4s;
   animation-iteration-count: 3;       	     
  
}


@keyframes exemplo {
    0%   {left:0px; top:0px;}   
    25%  {left:20vw; top:0px;}
    50%  {left:20vw; top:20vw;}
    75%  {left:0px; top:20vw;}
    100% {left:0px; top:0px;}
}

.grade {  
    width: 16vw;
    height: 16vw;
    border-radius: 10px;
    background-image: url("../img/Logoo.png");
    background-size: contain;
    
  
    transition-property: width, height,border-radius;
    transition-duration: 2s, 2s, 2s; 
  }
  
.grade:hover {
    width: 60vw;
    height: 60vw;
    border-radius: 150px;
}

.animacao{
    width: calc(100vw-2px);
    height: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animacao2{
    height: 30vw;
    width: 90vw;
}